
*, ::after, ::before {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(rgba(8, 135, 31, 0.612),
  rgba(0, 255, 0, 0.433)), url("https://th-thumbnailer.cdn-si-edu.com/V408Xd8N2y92XNQ05rRH4nu1LR0=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/df/a9/dfa966b8-9bb4-426e-ade1-98c2a982b59f/6754298445_3918332c9e_o.jpg");
}

/*NAVBAR*/
a {
  text-decoration: none;
  color: #265301;
  font-weight: bolder;

}

a:active {
  background: #265301;
  color: #cdfeaa;
}

li {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  width: 100%;
  background-color: antiquewhite;
  font-size: 1.5rem;
  
}
/*LANDING PAGE */
.main {
  margin: 20px;
  padding: 40px 10px;
  background-color: rgba(250, 235, 215, 0.571);
  min-height: 400px;
}

.menu{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 1.5rem;
}

.logo, p {
  margin: auto;
  color: #265301;
  padding: 20px;
}

/*GALLERY PAGE*/
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
article {
  margin: 10px;
}

/*RANDOM ANIMAL (CARDS PAGE)*/
.containerCard{
  align-items: center;
  /* justify-content: center; */
  background-color: antiquewhite;
  border-radius: 30px;
  width: 60vw;
  max-width: 90vw;
  padding: 20px 10px;
  text-align: center;
  /* box-shadow: 0px 7px 27px 4px rgba(173,255,175,0.77); */
  /* border: 1px solid black; */
}

.info{
  display: flex;
  align-items: center;
  width: 100%;
}

.holeCard{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgCard {
  max-height: 30vh;
  margin: 10px 0;
  border-radius: 30px;
}

.right{
  padding: 10px;
  /* border: 1px solid red; */
}

.left{
  /* border: 1px solid blue; */
  margin: 0px 10px;
}




.btn {
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  border: 2px solid rgba(4, 164, 7, 0.9);
  color:rgba(4, 164, 7, 0.9);
  background-color: #cdfeaa;
  border-radius: 20px;
  box-shadow: 0px 7px 27px 4px rgba(173,255,175,0.77);
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover{
  background-color: rgba(4, 164, 7, 0.9);
  color:#cdfeaa;
  transition: background-color 0.3s linear, box-shadow 0.3s ease;
}


